<div class="inner cover">
    <h1 class="cover-heading">Контакты</h1>

    <div class="row">
        <div class="col-md-4">
            <img src="/assets/images/profile.jpg" alt="Кирилл и Люба" class="img-responsive img-circle"
                 style="display: inline;"/>
        </div>
        <div class="col-md-8">
            <p class="lead" style="text-align: left">
                Привет, меня зовут Кирилл. И я умею программировать. Прежде всего я делаю эту штуку для
                удобства своей жены и чисто ради академического интереса.
            </p>

            <p class="lead" style="text-align: left">
                Со мной можно связаться следующими способами:
            </p>
            <ul style="text-align: left">
                <li>E-mail: <a href="mailto:kirill@bigmilk.ru">kirill@bigmilk.ru</a></li>
                <li>Вконтакте: <a href="http://vk.com/kirillsud">http://vk.com/kirillsud</a></li>
                <li>Facebook: <a href="http://facebook.com/kirillsud">http://facebook.com/kirillsud</a></li>
            </ul>
        </div>
    </div>
</div>