<div class="inner cover">
    <h1 class="cover-heading">Возможности</h1>

    <p class="lead">
        На данный момент ведутся разработки инструмента для удобного просмотра графика сотрудников.
        В результате хочется видеть следующие функции:
    </p>
    <ul style="text-align: left">
        <li>Удобный просмотр ближайших рабочих смен</li>
        <li>Удобный вывод информации о каждой предстоящей смене:
            <ol>
                <li>где работаю?</li>
                <li>ко скольки приходить?</li>
                <li>с кем работаю?</li>
            </ol>
        </li>
        <li>Вывод смен текущего пользователя по-умолчанию при загрузке страницы</li>
    </ul>
    <p class="lead">Если у тебя есть идеи и пожелания, сообщай их, не стесняйся, вот этому парню:</p>

    <p class="lead">
        <a href="mailto:kirill@bigmilk.ru?subject=Полезняшки%20для%20Гаги.%20Предложения"
           class="btn btn-lg btn-default">kirill@bigmilk.ru</a>
    </p>
</div>