<div class="shift" ng-class="{ sick: shift.sick }">
    <div ng-if="shift.sick" title="больничный">
        <span class="glyphicon glyphicon-plus-sign"></span>
    </div>
    <div ng-if="!shift.sick">
        <div class="shop">
            <span class="glyphicon glyphicon-map-marker"></span>
            {{shift.shop}}
        </div>
        
        <div class="time">
            <span class="glyphicon glyphicon-time"></span> 
            с <gaga-time date="shift.beginDate"></gaga-time>
            до <gaga-time date="shift.endDate"></gaga-time>    
        </div>
        
        <gaga-team team="team" date="shift.date" shop="shift.shop"></gaga-team>
    </div>
</div>