<div class="team">
    команда:
    <ul>
        <li ng-repeat="emp in team">
            <a ng-href="/timetable/{{emp.name}}/{{shiftDate | date : 'yyyy-MM-dd'}}">
                <span class="glyphicon glyphicon-user"></span> {{emp.name}}
            </a>
            с <gaga-time date="emp.getShift(shiftDate, shop).beginDate"></gaga-time>
            до <gaga-time date="emp.getShift(shiftDate, shop).endDate"></gaga-time>
        </li>
    </ul>
</div>