<div class="inner cover" ng-show="loading === true">
    <h1 class="cover-heading">Мы работаем</h1>

    <p class="lead">
        <button class="btn btn-lg btn-warning"><span
                class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Подожди...
        </button>
    </p>
</div>

<div class="inner cover" ng-show="authorized === false && loading === false">
    <h1 class="cover-heading">Ты работаешь в Гаге?</h1>

    <p class="lead">Посмотри свой график работы. Для этого тебе нужно просто нажать кнопку ниже</p>

    <p class="lead">
        <button id="authorize-button" class="btn btn-lg btn-default" ng-click="authorize()">Войти</button>
    </p>
</div>

<div class="inner cover" ng-show="error && error.code == 403">
    <h1 class="cover-heading">Похоже, ты НЕ из GaGa Games</h1>

    <p class="lead">Наша разветка сообщает о том, что ты не работаешь в Гаге.</p>

    <p class="lead">Если это не так, сообщи вот этому парню:</p>

    <p class="lead">
        <a href="mailto:kirill@bigmilk.ru?subject=Полезняшки%20для%20Гаги.%20Не%20пускает"
           class="btn btn-lg btn-default">kirill@bigmilk.ru</a>
    </p>
</div>

<div class="inner cover" ng-show="error && error.code != 403">
    <h1 class="cover-heading">Упс, что-то опшло не по плану</h1>

    <p class="lead">Сообщение об ошибке: {{error.message}}</p>

    <p class="lead">Если ошибка повторяется, сообщи вот этому парню:</p>

    <p class="lead">
        <a href="mailto:kirill@bigmilk.ru?subject=Полезняшки%20для%20Гаги.%20Странная%20ошибка"
           class="btn btn-lg btn-default">kirill@bigmilk.ru</a>
    </p>
</div>

<div class="inner cover" ng-show="authorized === true && loading == false && !error">
    <h1 class="cover-heading">GaGaGrafik</h1>

    <p class="lead"></p>

    <form>
        <div class="form-group">
            <label for="userSelect">Введи имя</label>
            <input id="userSelect" type="text" class="form-control"
                ng-model="employee"
                typeahead="emp as emp.name for emp in week.employees | filter:{name:$viewValue} | limitTo:8">
        </div>
    </form>
    
    <div class="calendar-header clearfix">
        <button type="button" class="btn btn-default pull-left" 
            ng-click="prevWeek()" ng-show="week.prev">
            <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
        </button>
        
        <button type="button" class="btn btn-default pull-right" 
            ng-click="nextWeek()" ng-show="week.next">
            <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
        </button>
        
        <h4>{{week.monday | date : 'd MMMM, yyyy'}}</h4>
    </div>
    
    <div class="row">
        <div class="calendar-datepicker col-sm-3">
            <datepicker ng-model="date" min-date="minDate" show-weeks="false" starting-day="1"></datepicker>
        </div>
        
        <div class="calendar-week col-sm-4" ng-if="employee && employee.name">
        <!--<div class="calendar-week" ng-if="employee && employee.name">-->
            <gaga-weekday date="date" ng-repeat="date in week.getDays()">
                <gaga-shift ng-repeat="shift in employee.getShift(date)" shift="shift"></gaga-shift>
            </gaga-weekday>
        </div>
    </div>
</div>