<div class="weekday" ng-class="{ current: isCurrentDate() }">
    <div class="date">
        {{time | date : "dd" }}
        <div class="day">{{time | date : "EEE" | capitalize }}</div>
    </div>
    <div class="content" ng-transclude></div>
</div>