.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

.inner.cover > .row {
    margin: 0;
}

.calendar-header {
    margin-bottom: 10px;
}

.calendar-week .weekday {
    text-align: left;
    padding: 0;
    vertical-align: top;
}

.calendar-week .weekday.current {
    color: #349A5B;
}

.calendar-week .weekday.current .shift {
    background-color: #349A5B;
    color: white;
}

.calendar-week .weekday > .date {
    display: table-cell;
    font-size: 40px;
    width: 70px;
    vertical-align: top;
    padding: 0 10px;
}

.calendar-week .weekday .day {
    font-size: 18px;
}

.calendar-week .weekday > .content {
    display: table-cell;
    width: 100%;
}

.calendar-week .weekday .shift {
    border-radius: 2px;
    padding: 10px 15px;
    font-size: 13px;
    background: #3C5F9F;
    margin: 2px 0;
}

.calendar-week .weekday .shift.sick {
    background-color: #E3E7EA;
    color: #DB3232;
    font-size: 24px;
}

.calendar-week .shift .team {
    padding-top: 10px;
}

.calendar-week .shift .team ul {
    padding-left: 0;
    list-style: none;
}

.calendar-week .shift .shop,
.calendar-week .shift .time {
    margin-bottom: 5px;
}

.calendar-week .shift .team li {
    margin-top: 5px;
}

.calendar-datepicker {
    margin-top: 11px;
    margin-left: -4px;
    display: none;
}

.calendar-datepicker thead tr:first-child {
    display: none;
}

.calendar-datepicker td .btn {
    padding: 7px 10px;
    border: none;
    background: none;
    color: white;
    border-radius: 200px;
}

.calendar-datepicker td .btn {
    border: none;
    background: none;
    color: white;
    font-size: 16px;
}

.calendar-datepicker td .btn:focus {
    outline: none;
}

.calendar-datepicker td .btn.active {
    color: black;
    background-color: white;
}

.calendar-datepicker td .btn .text-info {
    color: #349A5B;
}

.calendar-datepicker td .btn.active .text-info {
    color: black;
}

@media (min-width: 768px) {
    .calendar-datepicker {
        display: block;
    }
    
    /*.calendar-week {*/
    /*    margin-left: auto;*/
    /*    width: 400px;*/
    /*}*/
    
    /*.calendar-week .weekday .date {*/
    /*    text-align: center;*/
    /*    display: block;*/
    /*    padding: 0 0 10px 0;*/
    /*    width: auto;*/
    /*}*/
    
    /*.calendar-week .weekday .shift {*/
    /*    display: block;*/
    /*    padding-left: 8px;*/
    /*    padding-right: 8px;*/
    /*    width: auto;*/
    /*}*/
    
    /*.calendar-week .weekday .shift.sick {*/
    /*    text-align: center;*/
    /*}*/
    
    /*.calendar-week .shift .team ul {*/
    /*    list-style: none;*/
    /*}*/
}
























.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7 {
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7 {
  float: left;
}
.col-xs-7 {
  width: 100%;
}
.col-xs-6 {
  width: 85.71428571%;
}
.col-xs-5 {
  width: 71.42857143%;
}
.col-xs-4 {
  width: 57.14285714%;
}
.col-xs-3 {
  width: 42.85714286%;
}
.col-xs-2 {
  width: 28.57142857%;
}
.col-xs-1 {
  width: 14.28571429%;
}
.col-xs-pull-7 {
  right: 100%;
}
.col-xs-pull-6 {
  right: 85.71428571%;
}
.col-xs-pull-5 {
  right: 71.42857143%;
}
.col-xs-pull-4 {
  right: 57.14285714%;
}
.col-xs-pull-3 {
  right: 42.85714286%;
}
.col-xs-pull-2 {
  right: 28.57142857%;
}
.col-xs-pull-1 {
  right: 14.28571429%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-7 {
  left: 100%;
}
.col-xs-push-6 {
  left: 85.71428571%;
}
.col-xs-push-5 {
  left: 71.42857143%;
}
.col-xs-push-4 {
  left: 57.14285714%;
}
.col-xs-push-3 {
  left: 42.85714286%;
}
.col-xs-push-2 {
  left: 28.57142857%;
}
.col-xs-push-1 {
  left: 14.28571429%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-7 {
  margin-left: 100%;
}
.col-xs-offset-6 {
  margin-left: 85.71428571%;
}
.col-xs-offset-5 {
  margin-left: 71.42857143%;
}
.col-xs-offset-4 {
  margin-left: 57.14285714%;
}
.col-xs-offset-3 {
  margin-left: 42.85714286%;
}
.col-xs-offset-2 {
  margin-left: 28.57142857%;
}
.col-xs-offset-1 {
  margin-left: 14.28571429%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7 {
    float: left;
  }
  .col-sm-7 {
    width: 100%;
  }
  .col-sm-6 {
    width: 85.71428571%;
  }
  .col-sm-5 {
    width: 71.42857143%;
  }
  .col-sm-4 {
    width: 57.14285714%;
  }
  .col-sm-3 {
    width: 42.85714286%;
  }
  .col-sm-2 {
    width: 28.57142857%;
  }
  .col-sm-1 {
    width: 14.28571429%;
  }
  .col-sm-pull-7 {
    right: 100%;
  }
  .col-sm-pull-6 {
    right: 85.71428571%;
  }
  .col-sm-pull-5 {
    right: 71.42857143%;
  }
  .col-sm-pull-4 {
    right: 57.14285714%;
  }
  .col-sm-pull-3 {
    right: 42.85714286%;
  }
  .col-sm-pull-2 {
    right: 28.57142857%;
  }
  .col-sm-pull-1 {
    right: 14.28571429%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-7 {
    left: 100%;
  }
  .col-sm-push-6 {
    left: 85.71428571%;
  }
  .col-sm-push-5 {
    left: 71.42857143%;
  }
  .col-sm-push-4 {
    left: 57.14285714%;
  }
  .col-sm-push-3 {
    left: 42.85714286%;
  }
  .col-sm-push-2 {
    left: 28.57142857%;
  }
  .col-sm-push-1 {
    left: 14.28571429%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-7 {
    margin-left: 100%;
  }
  .col-sm-offset-6 {
    margin-left: 85.71428571%;
  }
  .col-sm-offset-5 {
    margin-left: 71.42857143%;
  }
  .col-sm-offset-4 {
    margin-left: 57.14285714%;
  }
  .col-sm-offset-3 {
    margin-left: 42.85714286%;
  }
  .col-sm-offset-2 {
    margin-left: 28.57142857%;
  }
  .col-sm-offset-1 {
    margin-left: 14.28571429%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7 {
    float: left;
  }
  .col-md-7 {
    width: 100%;
  }
  .col-md-6 {
    width: 85.71428571%;
  }
  .col-md-5 {
    width: 71.42857143%;
  }
  .col-md-4 {
    width: 57.14285714%;
  }
  .col-md-3 {
    width: 42.85714286%;
  }
  .col-md-2 {
    width: 28.57142857%;
  }
  .col-md-1 {
    width: 14.28571429%;
  }
  .col-md-pull-7 {
    right: 100%;
  }
  .col-md-pull-6 {
    right: 85.71428571%;
  }
  .col-md-pull-5 {
    right: 71.42857143%;
  }
  .col-md-pull-4 {
    right: 57.14285714%;
  }
  .col-md-pull-3 {
    right: 42.85714286%;
  }
  .col-md-pull-2 {
    right: 28.57142857%;
  }
  .col-md-pull-1 {
    right: 14.28571429%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-7 {
    left: 100%;
  }
  .col-md-push-6 {
    left: 85.71428571%;
  }
  .col-md-push-5 {
    left: 71.42857143%;
  }
  .col-md-push-4 {
    left: 57.14285714%;
  }
  .col-md-push-3 {
    left: 42.85714286%;
  }
  .col-md-push-2 {
    left: 28.57142857%;
  }
  .col-md-push-1 {
    left: 14.28571429%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-7 {
    margin-left: 100%;
  }
  .col-md-offset-6 {
    margin-left: 85.71428571%;
  }
  .col-md-offset-5 {
    margin-left: 71.42857143%;
  }
  .col-md-offset-4 {
    margin-left: 57.14285714%;
  }
  .col-md-offset-3 {
    margin-left: 42.85714286%;
  }
  .col-md-offset-2 {
    margin-left: 28.57142857%;
  }
  .col-md-offset-1 {
    margin-left: 14.28571429%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7 {
    float: left;
  }
  .col-lg-7 {
    width: 100%;
  }
  .col-lg-6 {
    width: 85.71428571%;
  }
  .col-lg-5 {
    width: 71.42857143%;
  }
  .col-lg-4 {
    width: 57.14285714%;
  }
  .col-lg-3 {
    width: 42.85714286%;
  }
  .col-lg-2 {
    width: 28.57142857%;
  }
  .col-lg-1 {
    width: 14.28571429%;
  }
  .col-lg-pull-7 {
    right: 100%;
  }
  .col-lg-pull-6 {
    right: 85.71428571%;
  }
  .col-lg-pull-5 {
    right: 71.42857143%;
  }
  .col-lg-pull-4 {
    right: 57.14285714%;
  }
  .col-lg-pull-3 {
    right: 42.85714286%;
  }
  .col-lg-pull-2 {
    right: 28.57142857%;
  }
  .col-lg-pull-1 {
    right: 14.28571429%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-7 {
    left: 100%;
  }
  .col-lg-push-6 {
    left: 85.71428571%;
  }
  .col-lg-push-5 {
    left: 71.42857143%;
  }
  .col-lg-push-4 {
    left: 57.14285714%;
  }
  .col-lg-push-3 {
    left: 42.85714286%;
  }
  .col-lg-push-2 {
    left: 28.57142857%;
  }
  .col-lg-push-1 {
    left: 14.28571429%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-7 {
    margin-left: 100%;
  }
  .col-lg-offset-6 {
    margin-left: 85.71428571%;
  }
  .col-lg-offset-5 {
    margin-left: 71.42857143%;
  }
  .col-lg-offset-4 {
    margin-left: 57.14285714%;
  }
  .col-lg-offset-3 {
    margin-left: 42.85714286%;
  }
  .col-lg-offset-2 {
    margin-left: 28.57142857%;
  }
  .col-lg-offset-1 {
    margin-left: 14.28571429%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
